@charset "utf-8";
/* todas as demais midias*/
/*typical device breakpoints
puequenas telas: ate 600px
celular: de 600 ate 768px
tablet 768 ate 992 px
desktop 992 ate 1200 
grandes telas acima de 1200px*/
@media print {
    body{
    background-image:; /*aqui não é necessario ter backgroude*/
    font-family: 'Courier New', Courier, monospace;
    text-shadow: none;
    img#phone{display: none;}
img#tablet{display: none;}
img#print{display: block;}
img#pc{display: none;}
img#tv{display: none;}
    }
   
}
main{
    border: 2px solid black;
}
main h1 {
    text-shadow: none;
    color: black;
}

@media screen and ( min-width: 768px) and ( max-width: 992px){ /*Tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
img#tablet{display: block;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}
    
}
@media screen and ( min-width: 992px) and ( max-width: 1200px){ /*Desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: block;}
img#tv{display: none;}
    
}
@media screen and (min-width: 1200px) { /*grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
        img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: block;}
    }
    
}